@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e7e6e3;
  --foreground: #171717;

  --black: #111;
  --caption: #777;

  --blue: #0397ab;
  --dark-blue: #005a82;
  --red: #d1363a;
  --gold: #c89b3c;
  --dark-gold: #785a28;

  --hover-background: #8080804d;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .hover-underline {
    @apply inline-block align-middle relative transform shadow-sm;
  }

  .hover-underline::before {
    content: "";
    @apply absolute z-10 left-[51%] right-[51%] bottom-0 bg-red h-[3px] transition-[left,right] duration-300 ease-out;
  }

  .hover-underline:hover::before,
  .hover-underline:focus::before,
  .hover-underline:active::before {
    @apply left-0 right-0;
  }
}
