@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e7e6e3;
  --foreground: #171717;

  --black: #111;
  --caption: #777;

  --blue: #0397ab;
  --dark-blue: #005a82;
  --red: #d1363a;
  --gold: #c89b3c;
  --dark-gold: #785a28;

  --hover-background: #8080804d;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .hover-underline {
    @apply relative inline-block transform align-middle shadow-sm;
  }

  .hover-underline::before {
    content: "";
    @apply absolute bottom-0 left-[51%] right-[51%] z-10 h-[3px] bg-red transition-[left,right] duration-300 ease-out;
  }

  .hover-underline:hover::before,
  .hover-underline:focus::before,
  .hover-underline:active::before {
    @apply left-0 right-0;
  }
}

@layer components {
  .loader {
    width: 60px;
    margin: auto;
    margin-top: 10rem;
    aspect-ratio: 4;
    --c: #000 90%, #0000;
    background:
      radial-gradient(circle closest-side at left 6px top 50%, var(--c)),
      radial-gradient(circle closest-side, var(--c)),
      radial-gradient(circle closest-side at right 6px top 50%, var(--c));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: l4 1s infinite alternate;
  }
  @keyframes l4 {
    to {
      width: 25px;
      aspect-ratio: 1;
    }
  }
}
